.videoCard{
    width: 30vmax;
    height: 48vh;   
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-size: cover;
    margin: 0.5vmax; 
    cursor: pointer;  
}

.videoCard > a{
    padding: 1vmax;
    transition: all 0.5ms;
    border-radius: 100%;
    background: none;
    background-color: rgba(255, 255, 255, 0.096);
    
}

.videoCard > a > svg{
    fill: white;
}

.videoCard:hover a {
    background-color: rgba(255, 255, 255, 0.671);   
}

.videoCard span {
    color: white;
    margin: 1vmax;
}
   